*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   height: 100vh;
   background: linear-gradient(180deg,#5f1e99,#a6fcc6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
input{
    color: black;
}

#code, #code2{
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: cursive;
}

#clr1, #clr2{
    color: black;
    display: flex;
    align-items: center;
    height: 50px;
    width: 300px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 10px;
}

.orienta{
    height: 50px;
    width: 150px;
    background-color: grey;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 0.8rem;
    
}
.BTN{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
    width: 300px;
    height: 100px;
    
}
#btn,#copy{
    position: relative;
    width: 100px;
     padding: 10px;
      border-radius: 10px;
      font-size: 1rem;
      font-family:cursive;
      cursor: pointer;
      background-color: #a6fcc6;
}

#copy:active {
    background-color: blue;
}

#copy:before{
    content: "Copié!";
    position: absolute;
    top: -40px;
    right: 20px;
    display: none; 
    width: 50px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: beige;
    
    
}

#copy.active::before{
    display: block;
}
